<mat-toolbar color="primary">
        <span>Consulta Medica</span>
        <span class="spacer"></span>
        <div>
            <a mat-button [routerLink]="'/login'">Login</a>
            <a mat-button [routerLink]="'/register'">Registrarse</a>
            <a mat-button [routerLink]="'/login'">Logout</a>
        </div>
</mat-toolbar>





