<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registro Médico</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input [(ngModel)] ="modelMedico.nombre" type="text" class="form-control">
                    
                </div>
                <div class="form-group">
                    <label for="">Apellidos.</label>
                    <input [(ngModel)] ="modelMedico.apellidos" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Usuario:</label>
                    <input [(ngModel)] ="modelMedico.usuario" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Clave:</label>
                    <input [(ngModel)] ="modelMedico.clave"type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">NumColegiado:</label>
                    <input [(ngModel)] ="modelMedico.numColegiado"type="text" class="form-control">
                </div>
                <button (click)="Guardar(modelMedico)" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>