<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Medicos</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>USUARIO</th>
                        <th>CLAVE</th>
                        <th>NUMCOLEGIADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medico of medicos" class="text-center">
                        <td>{{medico.idUsuario}}</td>
                        <td>{{medico.nombre}}</td>
                        <td>{{medico.apellidos}}</td>
                        <td>{{medico.usuario}}</td>
                        <td>{{medico.clave}}</td>
                        <td>{{medico.numColegiado}}</td>
                        <td>
                            <button class="btn btn-success">Editar</button>
                            <button (click)="Delete(medico)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>