<div class="container">
    <div class="card">
        <div class="card-header">
            REGISTRO
        </div>
        <div class="card-body">
            <form novalidate [formGroup]="form">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id ="nombre" formControlName = "nombre">
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" class="form-control" id ="apellidos" formControlName = "apellidos">
                </div>                
                <div class="form-group">
                    <label for="usuario">Usuario:</label>
                    <input type="text" class="form-control" id ="usuario" formControlName = "usuario">
                </div>
                <div class="form-group">
                    <label for="clave">Contraseña:</label>
                    <input type="text" class="form-control" id ="clave" formControlName = "clave">
                </div>
                <div class="form-group">
                    <label for="nss">NSS:</label>
                    <input type="text" class="form-control" id ="nss" formControlName = "nss">
                </div>
                <div class="form-group">
                    <label for="numTarjeta">Número Tarjeta:</label>
                    <input type="text" class="form-control" id ="numTarjeta" formControlName = "numTarjeta">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" class="form-control" id ="telefono" formControlName = "telefono">
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion:</label>
                    <input type="text" class="form-control" id ="direccion" formControlName = "direccion">
                </div>

                <button class="btn btn-default" (click)="guardarPaciente()">Submit</button>
            </form>
        </div>
    </div>
</div>
