<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Pacientes</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>USUARIO</th>
                        <th>CLAVE</th>
                        <th>NSS</th>
                        <th>NUMTARJETA</th>
                        <th>TELEFONO</th>
                        <th>DIRECCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paciente of pacientes" class="text-center">
                        <td>{{paciente.idUsuario}}</td>
                        <td>{{paciente.nombre}}</td>
                        <td>{{paciente.apellidos}}</td>
                        <td>{{paciente.usuario}}</td>
                        <td>{{paciente.clave}}</td>
                        <td>{{paciente.nss}}</td>
                        <td>{{paciente.numTarjeta}}</td>
                        <td>{{paciente.telefono}}</td>
                        <td>{{paciente.direccion}}</td>
                        <td>
                            <button class="btn btn-success">Editar</button>
                            <button (click)="Delete(paciente)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>