<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Citas</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FECHA</th>
                        <th>MOTIVO</th>
                        <th>IDMEDICO</th>
                        <th>IDPACIENTE</th>
                        <th>IDDIAGNOSTICO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cita of citas" class="text-center">
                        <td>{{cita.idCita}}</td>
                        <td>{{cita.fechaHora}}</td>
                        <td>{{cita.motivoCita}}</td>
                        <td>{{cita.medicoIdUsuario}}</td>
                        <td>{{cita.pacienteIdUsuario}}</td>
                        <!--<td>{{cita.diagnosticoIdDiagnostico}}</td>
                        <td>
                            <button class="btn btn-success">{{cita.diagnosticoIdDiagnostico}}</button>
                        </td>-->
                        <td>
                            <button (click)="mostrarDiagnostico(cita.diagnosticoIdDiagnostico)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">
                                {{cita.diagnosticoIdDiagnostico}}
                              </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                Update
                            </button>
                            <button (click)="Delete(cita)" class="btn btn-danger">Delete</button>
                            
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<div *ngIf="flag">
<!-- Modal diagnostico-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Diagnostico</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">id Diagnostico:</label>
              <input type="text" class="form-control" id="recipient-name" readonly value="{{diagnosticoActual.idDiagnostico}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Valoración especialista:</label>
                <input type="text" class="form-control" id="recipient-name" readonly value="{{diagnosticoActual.valoracionEspecialista}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Enfermedad:</label>
                <input type="text" class="form-control" id="recipient-name" readonly value="{{diagnosticoActual.enfermedad}}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal update-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Cita   </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate [formGroup]="form">
            <div class="form-group">
                <label for="idCita">Id Cita</label>
                <input type="number" class="form-control" id ="idCita" formControlName = "idCita">
            </div>
            <div class="form-group">
                <label for="motivoCita">Motivo Cita</label>
                <input type="text" class="form-control" id ="motivoCita" formControlName = "motivoCita">
            </div>             
            <div class="form-group">
                <label for="fechaHora" class="col-form-label">Fecha y Hora</label>
                <input type="datetime-local" class="form-control" id="fechaHora" style="width: 20%" formControlName = "fechaHora">
            </div>
            <div class="form-group">
                <label for="medicoIdUsuario">Medico</label>
                <input type="text" class="form-control" id ="medicoIdUsuario" formControlName = "medicoIdUsuario">
            </div> 
            <div class="form-group">
                <label for="pacienteIdUsuario">Paciente</label>
                <input type="text" class="form-control" id ="pacienteIdUsuario" formControlName = "pacienteIdUsuario">
            </div>
            <div class="form-group">
                <label for="diagnosticoIdDiagnostico">Diagnostico</label>
                <input type="text" class="form-control" id ="diagnosticoIdDiagnostico" formControlName = "diagnosticoIdDiagnostico">
            </div>  
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="Update()" type="button" class="btn btn-primary">Modificar</button>
    </div>
    </div>
</div>
</div>


