<!--
<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1>LOGIN</h1>
            <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Username"
                required/>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input type="password" matInput placeholder="password"
                required/>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Login</button>
        </mat-card-content>
    </mat-card>
</div>
-->


<div class="contenedor">
  <div class="card">
      <div class="card-header">
          {{titulo}}
      </div>
      <div class="card-body">
          <mat-form-field novalidate [formGroup]="form">   
            <input matInput type="text" placeholder="Ingrese nombre de usuario" id ="usuario" formControlName = "usuario">
          </mat-form-field>
          <br> 
          <mat-form-field novalidate [formGroup]="form">   
            <input matInput type="text" placeholder="Introduzca contraseña" id ="clave" formControlName = "clave">               
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
      </div>
  </div>
</div>





