.login-form{
    padding: 4rem 1rem;
}

.casilla {
    height: 4rem;
    margin: 0.5rem;
    font-size: 3rem;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
} 