<!--
<div class="container" style="width: 50%;">
    <div class="card">
        <div class="card-header">
            <h3>Solicitar Cita</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Motivo Cita:</label>
                    <input [(ngModel)] ="modelCita.motivoCita" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Id Medico:</label>
                    <input [(ngModel)] ="modelCita.medicoIdUsuario" type="text" class="form-control" style="width: 20%;">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Id Paciente:</label>
                    <input type="text" [(ngModel)] ="modelCita.pacienteIdUsuario"  class="form-control" style="width: 20%;">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Fecha y Hora</label>
                    <input type="datetime-local" class="form-control" id="message-text" style="width: 20%;">
                </div>
                <button (click)="Guardar()" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>
-->


<div class="container">
    <div class="card">
        <div class="card-header">
            {{titulo}}
        </div>
        <div class="card-body">
            <form novalidate [formGroup]="form">
                <div class="form-group">
                    <label for="motivoCita">Motivo Cita</label>
                    <input type="text" class="form-control" id ="motivoCita" formControlName = "motivoCita">
                </div>
                <div class="form-group">
                    <label for="medicoIdUsuario">Id Medico</label>
                    <input type="number" class="form-control" id ="medicoIdUsuario" formControlName = "medicoIdUsuario">
                </div>                
                <div class="form-group">
                    <label for="pacienteIdUsuario">Id Paciente</label>
                    <input type="number" class="form-control" id ="pacienteIdUsuario" formControlName = "pacienteIdUsuario">
                </div>
                <div class="form-group">
                    <label for="fechaHora" class="col-form-label">Fecha y Hora</label>
                    <input type="datetime-local" class="form-control" id="fechaHora" style="width: 20%" formControlName = "fechaHora">
                </div>
                <button class="btn btn-default" (click)="guardarCita()">Submit</button>
            </form>
        </div>
    </div>
</div>


